.clickable {
  border: none; }
  .clickable:hover {
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    transform: scale(1.025) translateY(-10px); }
  .clickable:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    transform: translateY(20px); }

.keyboard {
  height: 18.875em;
  width: 34em;
  margin: 5em auto;
  padding: 3em 0 0 3em;
  position: relative;
  border: 1px solid #160801;
  border-radius: 1em;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/187/vwood.png);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(212, 152, 125, 0.2) inset, 0 5px 15px rgba(0, 0, 0, 0.5); }
  .keyboard .white {
    height: 16em;
    width: 4em;
    z-index: 1;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0 0 5px 5px;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #eee 0%, #fff 100%); }
    .keyboard .white:active, .keyboard .white.active {
      border-top: 1px solid #777;
      border-left: 1px solid #999;
      border-bottom: 1px solid #999;
      box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset, -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
      background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%); }
    .keyboard .white div {
      margin-top: 3em; }
  .keyboard .black {
    color: white;
    height: 8em;
    width: 2em;
    margin: 0 0 0 -1em;
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #555 100%); }
    .keyboard .black:active, .keyboard .black.active {
      box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to right, #444 0%, #222 100%); }

.key {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: left; }
  .key:first-child {
    border-radius: 5px 0 5px 5px; }
  .key:last-child {
    border-radius: 0 5px 5px 5px; }
  .key div {
    height: 100%; }

.d,
.e,
.g,
.a,
.b {
  margin: 0 0 0 -1em; }

.control-box {
  color: white;
  height: fit-content; }
  @media (max-width: 600px) {
    .control-box {
      margin: 15px; } }

#imgPreview {
  max-height: 600px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6); }

#imgPreviewCompression {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6); }

#mainColor {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px; }

.color-box {
  margin-top: 25px;
  display: none;
  padding: 15px; }
  .color-box .color,
  .color-box #mainColor {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    height: fit-content;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    vertical-align: middle; }
  .color-box .color {
    padding: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s; }

body {
  background-color: whitesmoke; }

.main-image {
  width: 150px; }

.btn-link {
  transition: all 0.2s; }

.btn-link:hover {
  text-decoration: none;
  transform: scale(1.02);
  border-radius: 0;
  border-left: 10px solid yellow;
  transition: all 0.2s; }

.material-icons {
  vertical-align: middle; }

.nav-item.active {
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 130, 0.25); }

@media (max-width: 992px) {
  .nav-item {
    padding: 0 10px; } }

.s-display {
  margin-left: 4px;
  color: yellow;
  font-weight: bolder;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6); }

.form-control-range {
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6); }
