@import 'components/card';
@import 'components/keyboard';
@import 'components/control-box';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s;
}

body {
  background-color: whitesmoke;
}

img {
  width: 150px;
}

.nav-item {
  &.active {
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 130, 0.25);
  }

  @media (max-width: 992px) {
    padding: 0 10px;
  }
}
