@import 'components/card';
@import 'components/keyboard';
@import 'components/control-box';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s;
}

body {
  background-color: whitesmoke;
}

small {
  opacity: 0.5;
}

.main-image {
  width: 150px;
}

.btn-link {
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.02);
    border-radius: 0;
    border-left: 10px solid yellow;
    transition: all 0.25s;
  }
}

.material-icons {
  vertical-align: middle;
}

.nav-item {
  &.active {
    height: 100%;
    border-radius: 5px;
    background-color: rgba(0, 0, 130, 0.25);
  }

  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.s-display {
  margin-left: 4px;
  color: yellow;
  font-weight: bolder;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.form-control-range {
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
