.card {
  border: none;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
    transform: scale(1.025) translateY(-10px);
  }

  &:active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    transform: translateY(20px);
  }
}
