.control-box {
  color: white;
  height: fit-content;

  @media (max-width: 600px) {
    margin: 15px;
  }
}

#imgPreview {
  max-height: 600px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}

#imgPreviewCompression {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

#mainColor {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.color-box {
  margin-top: 25px;
  padding: 15px;

  .color,
  #mainColor {
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
    height: fit-content;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    vertical-align: middle;
  }

  .color {
    padding: 10px;
  }
}
