.progress {
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 100px;
  position: absolute;
  bottom: 5vh;
  height: 40px;
  width: 80vw;
  transition: all 0.25s linear;
  margin: 0 10vw;
}

.progress-value {
  background-color: #007bff;
  position: relative;
  left: 0;
  box-shadow: 0 10px 40px -10px black;
  border-radius: 100px;
  height: 40px;
  width: 0;
  transition: all 0.25s linear;
}

#progress-input {
  z-index: 900;
  height: 40px;
  position: inherit;
  width: 80vw;
  opacity: 0;
}
